<mat-toolbar color="primary">
  <span>Intranet RR.HH</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/dashboard">Inicio</button>
  <button mat-button routerLink="/dashboard/formatos">Quienes Somos</button>
  <button mat-button routerLink="/dashboard/usuarios">Procesos</button>
  <button mat-button routerLink="/dashboard/usuarios">SST</button>
  <button mat-button routerLink="/dashboard/usuarios">Galería</button>
  <span class="example-spacer"></span>
  <button (click)="onClick()" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>