// @import "~@angular/material/theming";

// @include mat-core();

// $odoo-app-light-primary: mat-palette($mat-orange, 600);
// $odoo-app-light-accent: mat-palette($mat-blue, 800);
// $odoo-app-light-warn: mat-palette($mat-red, 500);

// $odoo-app-dark-primary: mat-palette($mat-green, A200);
// $odoo-app-dark-accent: mat-palette($mat-purple, A700);
// $odoo-app-dark-warn: mat-palette($mat-red, A400);

// $odoo-app-light-theme: mat-light-theme($odoo-app-light-primary, $odoo-app-light-accent, $odoo-app-light-warn);
// $odoo-app-dark-theme: mat-dark-theme($odoo-app-dark-primary, $odoo-app-dark-accent, $odoo-app-dark-warn);


// @include angular-material-theme($odoo-app-light-theme);

// .light.theme{
//     @include angular-material-theme($odoo-app-light-theme);
//     background: #fff;
//     color: #222;
// }

// .dark-theme{
//     @include angular-material-theme($odoo-app-dark-theme);
//     background: #222;
//     color: #fff;
// }
@import url(#{$cssLink});

@import "~@angular/material/theming"; 
@include mat-core();

// Definir los colores primario, secundario y de error para los temas
$primary: mat-palette($mat-orange, 600);
$accent: mat-palette($mat-blue, 800);
$warn: mat-palette($mat-red, 500);

// Definir los temas
$light-theme: mat-light-theme($primary, $accent, $warn);
$dark-theme: mat-dark-theme($primary, $accent, $warn);
