<mat-toolbar>
    <span>Quienes Somos</span>
</mat-toolbar>

<mat-tab-group fitInkBarToContent>
    <mat-tab label="Beneficios"><app-beneficios></app-beneficios></mat-tab>
    <mat-tab label="Contactenos"><app-contactenos></app-contactenos></mat-tab>
    <mat-tab label="Mision"><app-mision></app-mision></mat-tab>
    <mat-tab label="Lo que nos diferecia"><app-nos-diferencia></app-nos-diferencia></mat-tab>
    <mat-tab label="Nuestros productos"><app-nuestros-productos></app-nuestros-productos></mat-tab>
    <mat-tab label="Reglamento"><app-reglamento></app-reglamento></mat-tab>
    <mat-tab label="Uso correo"><app-uso-correo></app-uso-correo></mat-tab>
    <mat-tab label="Valores"><app-valores></app-valores></mat-tab>
    <mat-tab label="Vision"><app-vision></app-vision></mat-tab>
</mat-tab-group>












